<div class="jumbotron">
  <h1>De bourgondische bieren site</h1>
  <p class="lead">Dit is de plek waar een echte bourgondier zich wel thuis voelt<br /></p>
</div>

<div class="container">
  <div class="row">
    <p class="display-4">Populairste bieren</p>

    <hr class="my-2" style="width: 100%" />
    <div class="outer-owl">
      <owl-carousel-o [options]="customOptions" style="width: 100%">
        <ng-container *ngFor="let beer of popular">
          <ng-template carouselSlide>
            <div class="card text-dark bg-light mb-3 beer-card" style="margin-left: 5px; margin-right: 5px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <img src="{{ beer.imageUrl }}" alt="{{ beer.name }}" class="card-img" />
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">{{ beer.name }}</h5>
                    <hr class="my-4" />
                    <p class="card-text">
                      <small class="text-muted">{{ beer.description }}</small>
                    </p>
                    <p>
                      <a
                        routerLink="/beers/{{ beer.name }}"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        role="button"
                        class="btn btn-info"
                        >Details</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

  <div class="row">
    <p class="display-4">Best beoordeelde bieren</p>

    <hr class="my-2" style="width: 100%" />
    <div class="outer-owl">
      <owl-carousel-o [options]="customOptions" style="width: 100%">
        <ng-container *ngFor="let beer of topRated">
          <ng-template carouselSlide>
            <div class="card text-white bg-dark mb-3 beer-card" style="margin-left: 5px; margin-right: 5px;">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <img src="{{ beer.imageUrl }}" alt="{{ beer.name }}" class="card-img" />
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">{{ beer.name }}</h5>
                    <hr class="my-4 bg-secondary" />
                    <p class="card-text">
                      <small class="text-light">{{ beer.description }}</small>
                    </p>
                    <p>
                      <a
                        routerLink="/beers/{{ beer.name }}"
                        [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        role="button"
                        class="btn btn-outline-warning"
                        >Details</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
