<div class="container">
  <div class="text-center">
    <h3 class="display-4">Account gegevens</h3>
  </div>

  <hr class="my-2" />

  <div class="row">
    <div class="col-3 mb-3">
      <div class="card">
        <div class="card-header">Account</div>
        <ul class="list-group">
          <li
            #userDetailTab
            class="list-group-item list-group-item-primary"
            (click)="setUserDetailScreenActive(userDetailTab, userOrderTab, settingsTab)"
          >
            Gegevens
          </li>
          <li
            #userOrderTab
            class="list-group-item"
            (click)="setUserOrderScreenActive(userDetailTab, userOrderTab, settingsTab)"
          >
            Bestellingen
          </li>
          <li
            #settingsTab
            class="list-group-item"
            (click)="setSettingScreenActive(userDetailTab, userOrderTab, settingsTab)"
          >
            Instellingen
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="col-6">-->
    <div class="col-6" style="margin-left:15px;">
      <app-user-details-tab *ngIf="isUserDetailScreen"></app-user-details-tab>
      <app-user-order-tab *ngIf="isOrderScreen"></app-user-order-tab>
      <app-setting-tab *ngIf="isSettingScreen"></app-setting-tab>
    </div>
    <!--</div>-->
  </div>
</div>
