<div class="text-center">
  <div class="card" style="width: 100%" *ngFor="let order of orders">
    <div class="row no-gutters">
      <div class="col-md-3">
        <p>{{ order.submitDate | date }}</p>
      </div>
      <div class="col-md-3">
        <p>items: {{ order.orderlines.length | number }}</p>
      </div>
      <div class="col-md-3">
        <p>total: {{ getTotal(order) | currency: 'EUR' }}</p>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info">Details</button>
      </div>
    </div>
  </div>
</div>
