<div class="container">
  <div class="text-center">
    <h4 class="display-4">De bieren van {{ userPageName }}</h4>
  </div>

  <hr class="my-2" />

  <div class="row">
    <div class="card mb-3" *ngFor="let beer of userBeers">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ beer.imageUrl }}" class="card-img" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ beer.name }}</h5>
            <hr class="my-2" />
            <p class="card-text">{{ beer.description }}</p>
            <p class="card-text">
              <small class="text-muted">
                {{ beer.specie.join(',') }} | {{ beer.alcoholPerc | percent }} | {{ beer.content * 100 }}cl |
                {{ beer.price | currency: 'EUR' }}
              </small>
            </p>
            <div class="btn-group" *ngIf="currentUsername === userPageName">
              <button class="btn btn-outline-secondary" (click)="openEditModal(editBeerModal, beer)">
                edit
              </button>
              <button class="btn btn-danger" (click)="deleteBeer(beer)">x</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="userPageName === currentUsername">
    <button class="btn btn-outline-primary" (click)="openModal(addBeerModal)">
      Voeg toe <fa-icon [icon]="faBeer"></fa-icon>
    </button>
  </div>

  <br />
  <br />

  <ng-template #addBeerModal let-modal>
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title" id="modal-basic-title">Voeg een bier toe</h4>
      <button
        type="button"
        class="close btn btn-outline-light"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-dark text-light">
      <div class="form-group">
        <label>Naam</label>
        <input type="text" class="form-control" [(ngModel)]="newBeer.name" />
      </div>
      <div class="form-group">
        <label>Beschrijving</label>
        <textarea class="form-control" [(ngModel)]="newBeer.description"></textarea>
      </div>
      <div class="form-group">
        <label>Merk</label>
        <input type="text" class="form-control" [(ngModel)]="newBeer.brand" />
      </div>
      <div class="form-group">
        <label>Soort</label>
        <ng-multiselect-dropdown
          name="editSpecie"
          [placeholder]="'Selecteer soort'"
          [data]="species"
          [disabled]="false"
          [settings]="dropdownSettings"
          [(ngModel)]="newBeer.specie"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Alcohol percentage</label>
        <input
          type="number"
          class="form-control"
          placeholder="0.085 (8.5%)"
          [(ngModel)]="newBeer.alcoholPerc"
        />
      </div>
      <div class="form-group">
        <label>Inhoud (cl)</label>
        <input type="number" class="form-control" placeholder="0.33" [(ngModel)]="newBeer.content" />
      </div>
      <div class="form-group">
        <label>Prijs (EUR)</label>
        <input type="number" class="form-control" placeholder="1.50" [(ngModel)]="newBeer.price" />
      </div>
      <div class="form-group">
        <label>Afbeelding url</label>
        <input
          type="text"
          class="form-control"
          placeholder="https://media.spar.nl/productdetail/45939.jpg"
          [(ngModel)]="newBeer.imageUrl"
        />
      </div>
    </div>
    <div class="modal-footer bg-dark text-light">
      <button type="button" class="btn btn-success" (click)="addBeer(modal)">
        Voeg toe
      </button>
    </div>
  </ng-template>

  <ng-template #editBeerModal let-modal>
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title" id="modal-edit-beer-title">Wijzig een bier</h4>
      <button
        type="button"
        class="close btn btn-outline-light"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-dark text-light">
      <div class="form-group">
        <label>Naam</label>
        <input type="text" class="form-control" [(ngModel)]="editBeer.name" />
      </div>
      <div class="form-group">
        <label>Beschrijving</label>
        <textarea class="form-control" [(ngModel)]="editBeer.description"></textarea>
      </div>
      <div class="form-group">
        <label>Merk</label>
        <input type="text" class="form-control" [(ngModel)]="editBeer.brand" />
      </div>
      <div class="form-group">
        <label>Soort</label>
        <ng-multiselect-dropdown
          name="editSpecie"
          [placeholder]="'Selecteer soort'"
          [data]="species"
          [disabled]="false"
          [settings]="dropdownSettings"
          [(ngModel)]="editBeer.specie"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
        <label>Alcohol percentage</label>
        <input
          type="number"
          class="form-control"
          placeholder="0.085 (8.5%)"
          [(ngModel)]="editBeer.alcoholPerc"
        />
      </div>
      <div class="form-group">
        <label>Inhoud (cl)</label>
        <input type="number" class="form-control" placeholder="0.33" [(ngModel)]="editBeer.content" />
      </div>
      <div class="form-group">
        <label>Prijs (EUR)</label>
        <input type="number" class="form-control" placeholder="1.50" [(ngModel)]="editBeer.price" />
      </div>
      <div class="form-group">
        <label>Afbeelding url</label>
        <input
          type="text"
          class="form-control"
          placeholder="https://media.spar.nl/productdetail/45939.jpg"
          [(ngModel)]="editBeer.imageUrl"
        />
      </div>
    </div>
    <div class="modal-footer bg-dark text-light">
      <button type="button" class="btn btn-success" (click)="editBeerFunc(modal)">
        Wijzig
      </button>
    </div>
  </ng-template>
</div>
