<div class="container">
  <div class="text-center">
    <h4 class="display-4">Winkelmandje</h4>
  </div>
  <hr class="my-2" />

  <div class="row">
    <p>
      <small class="text-muted"
        >Here comes the table with all the different cartlines, orderlines <br />
        And the ability to change the amount of a beer u want to order..
      </small>
    </p>
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>item</th>
          <th>#</th>
          <th>prijs</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of cartArray">
          <td style="width: 75%;">
            <div class="no-gutters row">
              <div class="col-md-2">
                <img class="card-img" style="margin-right: 5px;" [src]="line.beer.imageUrl" alt="" />
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-8">
                {{ line.beer.name }}
                <br />
                <small class="text-muted">{{ line.beer.description }}</small>
                <br />
                <small class="text-muted"
                  >{{ line.beer.specie.join(',') }} | {{ line.beer.alcoholPerc | percent }} |
                  {{ line.beer.content * 100 }}cl</small
                >
              </div>
              <div class="clearfix"></div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-2">
                <span class="text-muted">{{ line.quantity }}</span>
              </div>
              <div class="col-6">
                <div class="btn-group-vertical">
                  <button class="btn btn-outline-secondary" (click)="addQuantity(line.beer._id, line.beer)">
                    <small>+</small>
                  </button>
                  <button class="btn btn-outline-secondary" (click)="reduceQuantity(line.beer._id)">
                    <small>-</small>
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            {{ line.total | currency: 'EUR' }}
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeFromCart(line.beer._id)">x</button>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Total: {{ totalPrice | currency: 'EUR' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <a role="button" routerLink="dashboard" (click)="cartService.clearCart()" class="btn btn-secondary"
      >Cancel</a
    >
    <button class="btn btn-success" (click)="orderCart()">
      Bestellen <fa-icon [icon]="faCreditCard"></fa-icon>
    </button>
  </div>

  <br />
  <br />
</div>
