<div class="container">
  <div class="text-center">
    <h2 class="display-4">Registreer Formulier</h2>
  </div>
  <hr class="my-4" />
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <app-register-form></app-register-form>
      <!--<form [formGroup]="checkOutForm" (ngSubmit)="onSubmit(checkOutForm.value)">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" required="" formControlName="username" />
        </div>
        <div class="form-group">
          <label>Wachtwoord</label>
          <input type="password" class="form-control" formControlName="password" />
        </div>
        <div class="form-group">
          <label>Emailaddress</label>
          <input class="form-control" type="email" formControlName="emailAddress" />
        </div>
        <div class="form-group">
          <label>Geboorte datum</label>
          <input class="form-control" type="date" formControlName="birthDate" />
        </div>
        <div class="form-group">
          <label>Adres</label>
          <input class="form-control" type="text" formControlName="address" />
        </div>
        <div class="form-group">
          <label>Postcode</label>
          <input class="form-control" type="text" formControlName="postalCode" />
        </div>
        <div class="form-group">
          <label>Land</label>
          <input class="form-control" type="text" formControlName="country" />
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Registeren</button>
        </div>
      </form>-->
      <div class="text-center text-muted">
        <p>
          Heb je al een account?
          <a routerLink="/login">Log in!</a>
        </p>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
