<div class="container-fluid">
  <div class="row">
    <h2>Bieren</h2>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <input type="search" class="form-control" placeholder="search" />
    </div>
    <div class="col-3">
      <button class="btn btn-info pull-right">Filter</button>
    </div>
  </div>

  <hr class="my-2" />

  <div class="row">
    <div class="col-md-3">
      <div style="position: fixed;">
        <details>
          <summary>Merk</summary>
          <ul style="list-style: none;">
            <li>
              <label>Leffe</label>
              <input type="checkbox" />
            </li>
            <li>
              <label>Brand</label>
              <input type="checkbox" />
            </li>
            <li>
              <label>La Trappe</label>
              <input type="checkbox" />
            </li>
            <li>
              <label>Pauwel</label>
              <input type="checkbox" />
            </li>
          </ul>
        </details>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row" *ngFor="let bArray of arrayOfBeers">
        <div
          class="card bg-light text-dark col-sm-4 mb-3 beer-card"
          style="max-height: 500px; padding: 5px;"
          *ngFor="let beer of bArray"
        >
          <a routerLink="/beers/{{ beer.name }}">
            <img
              [src]="beer.imageUrl"
              class="card-img-top"
              [alt]="beer.name"
              style="max-width: 100%; height: auto; max-height: 50%; margin-right: auto; margin-left: auto; display: block;"
            />
          </a>
          <div class="card-body text-center">
            <h5>{{ beer.name }}</h5>
            <p>
              <small class="text-muted"
                >{{ beer.specie }} | {{ beer.alcoholPerc | percent: '0.1-1' }} |
                {{ beer.content * 100 + 'cl' }}</small
              >
            </p>
            <p class="text-center">{{ beer.price | currency: 'EUR' }}</p>
            <button class="btn btn-success" (click)="addToCart(beer)">
              Voeg toe <fa-icon [icon]="faShoppingCart"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
