<ngb-tabset>
  <ngb-tab title="users">
    <ng-template ngbTabContent>
      <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
        <div class="card col-12" *ngFor="let user of users">
          <div class="card-body">
            <h4 class="card-title">{{ user.username }}</h4>
            <button class="btn btn-danger" (click)="deleteUser(user.username)">x</button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-success" (click)="open(addPlainUserModal)">
          Voeg normale user toe
        </button>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="admin users">
    <ng-template ngbTabContent>
      <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
        <div class="card col-12" *ngFor="let admin of adminUsers">
          <div class="card-body">
            <h4 class="card-title">{{ admin.username }}</h4>
            <button class="btn btn-danger" (click)="deleteUser(admin.username)">x</button>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-outline-success" (click)="open(addAdminModal)">Voeg admin toe</button>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #addPlainUserModal let-modal>
  <div class="modal-header bg-dark text-light">
    <h4 class="modal-title" id="edit-comment-title">Voeg gewone gebruiker toe</h4>
    <button
      type="button"
      class="close btn btn-outline-light"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-dark text-light">
    <app-register-form [isAdmin]="false" [onAdminScreen]="true"></app-register-form>
  </div>
</ng-template>

<ng-template #addAdminModal let-modal>
  <div class="modal-header bg-dark text-light">
    <h4 class="modal-title" id="add-admin-title">Voeg admin toe</h4>
    <button
      type="button"
      class="close btn btn-outline-light"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-dark text-light">
    <app-register-form [isAdmin]="true" [onAdminScreen]="true"></app-register-form>
  </div>
</ng-template>
