<div class="container">
  <div class="text-center">
    <h4 class="display-4">Adminscherm</h4>
  </div>

  <hr class="my-2" />

  <div class="row">
    <div class="col-3 mb-3">
      <div class="card">
        <div class="card-header">
          Admin
        </div>
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-primary"
            #userTab
            (click)="setUserScreenActive(userTab, settingTab)"
          >
            Users
          </li>
          <li class="list-group-item" #settingTab (click)="setSettingScreenActive(userTab, settingTab)">
            Instellingen
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6" style="margin-left: 15px">
      <app-user-tab *ngIf="isUserScreen"></app-user-tab>
      <app-setting-tab *ngIf="isSettingScreen"></app-setting-tab>
    </div>
  </div>
</div>
