<div class="text-center">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      [readOnly]="true"
      class="form-control"
      name="username"
      id="username"
      type="text"
      [(ngModel)]="user.username"
    />
  </div>
  <div class="form-group">
    <label for="emailaddress">Email</label>
    <input
      [readOnly]="false"
      class="form-control"
      name="emailaddress"
      id="emailaddress"
      type="email"
      [(ngModel)]="user.emailAddress"
    />
  </div>
  <div class="form-group">
    <label for="birthdate">Geboorte datum</label>
    <input
      [readOnly]="false"
      class="form-control"
      name="birthdate"
      id="birthdate"
      type="date"
      [(ngModel)]="user.birthDate"
    />
  </div>
  <div class="form-group">
    <label for="address">Adres</label>
    <input
      [readOnly]="false"
      class="form-control"
      name="address"
      id="address"
      type="text"
      [(ngModel)]="user.address"
    />
  </div>
  <div class="form-group">
    <label for="postalcode">Postcode</label>
    <input
      [readOnly]="false"
      class="form-control"
      name="postalcode"
      id="postalcode"
      type="text"
      [(ngModel)]="user.postalCode"
    />
  </div>
  <div class="form-group">
    <label for="country">Land</label>
    <input
      [readOnly]="false"
      class="form-control"
      name="country"
      id="country"
      type="text"
      [(ngModel)]="user.country"
    />
  </div>
</div>

<hr class="my-2" />

<div class="text-center">
  <button class="btn btn-info" (click)="edit()">edit</button>
</div>
