<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/beers"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Bieren</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a
            class="nav-link"
            routerLink="/beers/user/{{ username }}"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Mijn bieren</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin$ | async">
          <a
            class="nav-link"
            routerLink="/admin"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Admin</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />-->
        <input
          #searchBeerInput
          type="text"
          class="form-control mr-sm-4"
          [(ngModel)]="chosenBeer"
          [ngbTypeahead]="search"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          [editable]="false"
          (ngModelChange)="onSelect(searchBeerInput)"
          placeholder="Search"
        />
      </div>
      <div *ngIf="(isLoggedIn$ | async) === false">
        <span class="navbar-text">
          <a
            class="nav-link"
            routerLink="register"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Registreren</a
          >
        </span>
        <span class="navbar-text">
          <a
            class="nav-link"
            routerLink="login"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Inloggen</a
          >
        </span>
      </div>
      <div *ngIf="(isLoggedIn$ | async) === true">
        <span class="navbar-text">
          <a
            class="nav-link"
            routerLink="account"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ username }}
            <fa-icon [icon]="faUserCircle"></fa-icon>
          </a>
        </span>
        <span class="navbar-text">
          <a class="nav-link" (click)="onLogout()">Uitloggen</a>
        </span>
        <span class="navbar-text">
          <a
            class="nav-link"
            routerLink="cart"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <fa-icon [icon]="faShoppingCart"></fa-icon>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
