<div class="container">
  <div class="text-center">
    <h2 class="display-4">Inloggen</h2>
  </div>
  <hr class="my-4" />
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <notifier-container></notifier-container>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" id="username" formControlName="username" />
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" id="password" formControlName="password" />
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 8 chars
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-light">Cancel</button>
          <input type="submit" class="btn btn-success" value="Log in" />
        </div>
      </form>
      <div class="text-center">
        <p>Nog geen account? <a routerLink="/register">Registreer hier</a></p>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
