<div class="container">
  <div class="row no-gutters" *ngIf="beer !== null">
    <div class="col-md-4">
      <div class="card card-body" style="height: auto; margin-right: 10px;">
        <img
          src="{{ this.beer.imageUrl }}"
          alt="{{ this.beer.name }}"
          class="card-img"
          style="margin-left: auto; margin-right: auto; height: 100%; width: 100%;"
        />
      </div>
    </div>
    <div class="col-md-8">
      <h2 class="display-2">
        <b>{{ this.beer.name }}</b>
      </h2>
      <ngb-rating [(rate)]="this.beer.avgCommentRating" [readonly]="true" max="5">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
      </ngb-rating>
      <div class="d-inline-flex">
        <span class="text-muted">
          Door:
          <a class="card-link" [routerLink]="'/beers/user/' + this.beer.user['username']">{{
            this.beer.user['username']
          }}</a>
        </span>
      </div>
      <hr class="my-4" />
      <div class="text-center">
        <p>{{ this.beer.description }}</p>
        <p>Prijs: {{ this.beer.price | currency: 'EUR' }}</p>
        <p>Alcohol percentage: {{ this.beer.alcoholPerc | percent: '0.1-1' }}</p>
        <p>Inhoud: {{ this.beer.content * 100 + 'cl' }}</p>
        <button class="btn btn-success" (click)="addToCart()">
          Voeg toe <fa-icon [icon]="faShoppingCart"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <br />
  <hr class="my-4" />

  <div class="row">
    <div class="col-2">
      <div class="text-center"></div>
    </div>
    <div class="col-10" *ngIf="beer !== null">
      <div class="text-center">
        <h3 class="display-3">Comments</h3>
      </div>
      <hr class="my-2" />
      <div class="jumbotron" *ngFor="let comment of beer.comments">
        <div class="text-center">
          <h3 class="display-4">(pf)[NAME]</h3>
          <div class="row">
            <div class="col-3">
              <p>Rating</p>
            </div>
            <div class="col-6">
              <ngb-rating [(rate)]="comment.rating" [readonly]="true" max="5">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill == 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
            <div class="col-3">
              <div class="text-center" *ngIf="currentUserId === comment.author">
                <button class="btn btn-outline-light" (click)="edit(editCommentModal, comment)">Edit</button>
                <button class="btn btn-danger" (click)="deleteComment(comment._id)">x</button>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="text-center">
              <p class="lead">{{ comment.content }}</p>
              <p class="text-muted">Laatst gewijzigd: {{ comment.lastUpdateDate | date }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-success" (click)="open(addCommentModal)">Voeg reactie toe!</button>
      </div>
    </div>
  </div>

  <br />
  <br />

  <ng-template #addCommentModal let-modal>
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title" id="modal-basic-title">Voeg een reactie toe</h4>
      <button
        type="button"
        class="close btn btn-outline-light"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-dark text-light">
      <ngb-rating [(rate)]="currentRate" max="5">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill == 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <pre class="text-light">Rate: {{ currentRate }}</pre>
      <div class="form-group">
        <label for="comment-content">Reactie</label>
        <div class="input-group">
          <textarea
            id="comment-content"
            style="min-height: 300px;"
            class="form-control"
            [(ngModel)]="commentContent"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-dark text-light">
      <button type="button" class="btn btn-outline-success" (click)="addComment(modal)">
        Voeg toe
      </button>
    </div>
  </ng-template>

  <ng-template #editCommentModal let-modal>
    <div class="modal-header bg-dark text-light">
      <h4 class="modal-title" id="edit-comment-title">Pas reactie aan</h4>
      <button
        type="button"
        class="close btn btn-outline-light"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-dark text-light">
      <ngb-rating [(rate)]="editCommentRate" max="5">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill == 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <pre class="text-light">Rate: {{ editCommentRate }}</pre>
      <div class="form-group">
        <label for="comment-content">Reactie</label>
        <div class="input-group">
          <textarea
            id="comment-edit-content"
            style="min-height: 300px;"
            class="form-control"
            [(ngModel)]="editCommentContent"
            >{{ editCommentContent }}</textarea
          >
        </div>
      </div>
    </div>
    <div class="modal-footer bg-dark text-light">
      <button type="button" class="btn btn-outline-success" (click)="editComment(modal)">
        Wijzig
      </button>
    </div>
  </ng-template>
</div>

<notifier-container></notifier-container>
