/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.min.css";*/
.outer-owl {
  padding: 5px;
  padding-top: 15px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 50px;
}

.beer-card {
  margin-top: 15px;
  transition: all ease-in-out 0.3s;
}

.beer-card:hover {
  box-shadow: 5px 5px 15px 1px #888888;
}

@import '~angular-notifier/styles';
